# int

In [11]:
adad = 15
print(type(adad))
print(adad)

<class 'int'>
15

float

In [12]:
pi = 3.14
print(type(pi))
print(pi)

<class 'float'>
3.14

string

In [104]:
name = 'mohsen'
print(type(name))
print(name)

<class 'str'>
mohsen

list

In [24]:
animals = ['cat', 'dog', 'rabbit', 'khar', 23, 3.14, [1, 2, 3]]
print(type(animals))
print(animals)

<class 'list'>
['cat', 'dog', 'rabbit', 'khar', 23, 3.14, [1, 2, 3]]

dic

In [25]:
phone_book = {
    'Alice': '123-456-7890',
    'Bob': '987-654-3210',
    'Charlie': '555-555-5555'
}

tuple

In [30]:
size = (23, 12.5)
print(type(size))
print(size)

<class 'tuple'>
(23, 12.5)

boolean

In [36]:
state = False
print(type(state))
print(state)

<class 'bool'>
False


<
>
==
!=
<=
>=

In [70]:
3 == 9 or 4 == 4

True

In [113]:
animals[1] = 'mar'

In [125]:
animals[1] = 'mamad'

if

In [126]:
if animals[1] == 'mar':
    print("The second animal is a mar")
elif animals[1] == 'asb':
    print("The second animal is an asb")
else:
    print("The second animal is not a mar or asb")

The second animal is not a mar or asb

for

In [128]:
animals

['cat', 'mamad', 'rabbit', 'khar', 23, 3.14, [1, 2, 3], 'hamster', 'hamster']

In [129]:
numbers = [1, 2, 3, 4, 5]

In [131]:
for adad in numbers:
    result = adad + 10
    print(result)

11
12
13
14
15

In [143]:
phone_book.items()

dict_items([('Alice', '123-456-7890'), ('Bob', '987-654-3210'), ('Charlie', '555-555-5555')])

In [146]:
a ,b = 23, 45
b

45

In [149]:
for i in 'mamad':
    print(i)

m
a
m
a
d

while

In [151]:
count = 0
while count <= 5:
    print(count)
    count += 1

0
1
2
3
4
5